{% extends 'base.html' %} {% load static %} {% block content %}
<main>
	{% if request.user == blog.user %}
	<div class="container">
		<p>
			<small>
				Posted By:
				<b> {{ blog.user.first_name }} {{blog.user.last_name}} </b>
				| {{blog.published_date}}
			</small>
		</p>
		<h3>{{blog.title}}</h3>
		<button class="btn btn-info">{{blog.category}}</button>
		<p>{{blog.content}}</p>

		<a class="btn btn-success text-white" href="{% url 'update' blog.slug %}">
			Edit</a
		>
		<a class="btn btn-danger" href="{% url 'delete' blog.slug  %}">Delete</a>
		<a class="btn btn-secondary" href="{% url 'blogs' %}">Back to home</a>
	</div>

	{% else %}
	<div class="container">
		<p>
			<small>
				Posted By:
				<b> {{ blog.user.first_name }} {{blog.user.last_name}} </b>
				| {{blog.published_date}}
			</small>
		</p>
		<h3>{{blog.title}}</h3>
		<button class="btn btn-info">{{blog.category}}</button>
		<p>{{blog.content}}</p>
		<a href="{% url 'blogs' %}"
			><button class="btn btn-secondary">Back to home</button></a
		>
	</div>
	{% endif %}
</main>
{% endblock %}
